*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #94dbff, #f2ffc5);
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(186, 233, 255);
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }
  .border{
      border-color:rgb(118, 164, 233) ;
      border-width: 10px;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-style: solid;
  }

  .border2{
    
    border-bottom-right-radius: 1rem;
    border-style: solid;    
  }
  .border3{
    
    border-bottom-left-radius: 1rem;
    border-style: solid;    
  }